.typeWindows-2-g3UY>.wordmark-2u86JB:before{
    content:" ";
}
.typeWindows-2-g3UY>.wordmark-2u86JB:after{
    content:" ";
}


.theme-dark .container-YkUktl:before{
    content:"";
}
.theme-dark .container-YkUktl:after{
    content:"";
    left:0%;
}

.container-YkUktl>.flex-3BkGQD>:nth-child(n+2):before{
    content:"";
    bottom:0px;
}
